<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Ruby Red Bricks<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "all" %>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="container-centered">
        <div class="banner">
          <div class="row">
            <div class="col-md-2">
              <a href="/">
                <img src="/images/avatar.png" class="image avatar">
              </a>
            </div>
            <div class="col-md-8">
              <h3>Ruby Red Bricks</h3>
            </div>
          </div>
        </div>
        <div class="row"><hr/></div>
        <div class="row">
          <%= yield %>
        </div>
        <div class="row"><hr/></div>

        <div class="row contact">
          <h4>Follow</h4>
          <p>
            <ul class="icons">
            <li>
              <a href="https://github.com/ferrisoxide" class="icon fa-github">
                <span class="label">GitHub</span>
              </a>
            </li>

            <li>
              <a href="https://twitter.com/ferrisoxide" class="icon fa-twitter">
                <span class="label">Twitter</span>
              </a>
            </li>

            <li>
              <a href="https://linkedin.com/in/ferrisoxide" class="icon fa-linkedin">
                <span class="label">LinkedIn</span>
              </a>
            </li>

            <li>
              <a href="https://plus.google.com/+TomTuddenham" class="icon fa-google-plus">
                <span class="label">Google+</span>
              </a>
            </li>

            <li>
              <a href="https://www.facebook.com/tom.tuddenham.7" class="icon fa-facebook">
                <span class="label">Facebook</span>
              </a>
            </li>

            <li>
              <a href="mailto:ferrisoxide@gmail.com" class="icon fa-envelope-o">
                <span class="label">Email</span>
              </a>
            </li>

          </ul>
          </p>
        </div>
      </div>
    </div>
  </body>
  <%= javascript_include_tag  "all" %>
</html>
